@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

#root {
  font-family: "Bungee", serif;
  background-color: #734F96;
}

.zoom-in {
  animation: zoomIn 0.5s forwards; 
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.navbar {
  font-family: "Bungee", serif;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 20px;
  background-image: linear-gradient(-45deg, #242525 25%, transparent 25%, transparent 50%, #001f3f 50%, #001f3f 75%, transparent 75%, transparent);
  background-size: 1px 1px;
}

.navbar .nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem; 
}

.logo {
  font-family: "Bungee", serif;
  color: #734F96; 
  font-size: 42px;
  font-weight: bold;
}

.nav-links {
  font-family: "Bungee", serif;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  font-family: "Roboto", serif;
  color: #FFD700; 
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #734F96; 
}

.footer {
  background-color: #E6E6FA; 
  font-family: "Bungee", serif;
  padding: 20px;
  text-align: center;
  background-image: linear-gradient(-45deg, #E6E6FA 25%, transparent 25%, transparent 50%, #E6E6FA 50%, #E6E6FA 75%, transparent 75%, transparent);
  background-size: 1px 1px;
}

.footer-content {
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap; 
}

.footer-logo {
  color: #734F96; 
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 100x; 
}

.footer-nav {
  flex-grow: 1; 
}

.footer-links {
  list-style-type: none;
  display: flex;
  justify-content: center; 
  margin: 0;
  padding: 0;
}

.footer-item {
  margin: 0 15px;
}

.footer-link {
  color: #F5F5F5; 
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.footer-link:hover {
  color: #FFD700; 
}

.tilt-prism-footer {
  font-family: 'Tilt Prism', serif;
  font-size: 24px;
  color: #734F96;
  font-weight: bold;
}

@keyframes dropDown {
  from {
    transform: translateY(-100px);
    opacity: 0;
    color: #2e0042; 
    text-shadow: 0 0 8px #000000, 0 0 35px #000000; 
  }
  to {
    transform: translateY(0);
    opacity: 1;
    color: #734f96; 
    text-shadow: 0 0 1px #d3a6d1, 0 0 1px #d3a6d1; 
  }
}

@keyframes shimmerSweep {
  0% {
    text-shadow: 0 0 2px #7a4d9c, 0 0 4px #7a4d9c, 0 0 6px #7a4d9c;
  }
  100% {
    text-shadow: 0 0 4px #d3a6d1, 0 0 6px #d3a6d1, 0 0 8px #d3a6d1;
  }
}

@keyframes sparkleEffect {
  0% {
    text-shadow: 0 0 10px #7a4d9c, 0 0 20px #7a4d9c, 0 0 30px #7a4d9c, 0 0 40px #7a4d9c;
  }
  50% {
    text-shadow: 0 0 20px #7a4d9c, 0 0 40px #7a4d9c, 0 0 50px #7a4d9c, 0 0 60px #7a4d9c;
  }
  100% {
    text-shadow: none; 
  }
}

.shimmer-text {
  display: inline-block;
  font-size: 4rem;
  font-family: 'Bungee', serif;
  color: #2e0042;
  animation: dropDown 1.5s ease-out forwards, shimmerSweep 2s ease-out forwards, sparkleEffect 1.5s ease-in-out 3s forwards;
}
